<!DOCTYPE html>
<html>

<head>
    <title>Sistema de inventario - Cineto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="utf-8" />
    <http-equiv="X-UA-Compatible" content="IE=edge" />

    <link href="../kendo/styles/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../kendo/styles/site.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../kendo/css/kendo.common-bootstrap.min.css" />
    <link rel="stylesheet" href="../kendo/css/kendo.bootstrap.min.css" />
    <link rel="stylesheet" href="../kendo/css/kendo.bootstrap.mobile.min.css" />

</head>

<body>
    <div class="container-fluid">
        <!--open container-->
        <div class="row row-offcanvas row-offcanvas-left">
            <!--open row-->
            <div id="nav-section" class="col-xs-12 column">
                <!--open nav column-->
                <div class="navbar-default">
                    <button id="toggle-button" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <h1 id="dash-logo" class="center-block">Inventario</h1>

                <div class="collapse navbar-collapse" id="sidebar-nav" role="navigation">
                    <ul class="nav">
                        <li><a href="/"><span class="icon icon-chart-column "></span>Inicio</a></li>
                        <li class="active"><a href="/vouchers"><span class="icon icon-chart-column "></span>Registrar salidas</a></li>
                        <li><a href="/bill"><span class="icon icon-chart-column "></span>Registrar ingresos</a></li>
                        <li><a href="/client"><span class="icon icon-chart-column "></span>Clientes</a></li>
                        <li><a href="/provider"><span class="icon icon-chart-column "></span>Proveedores</a></li>
                    </ul>


                </div>
            </div>
            <!--close left column-->
            <div id="main-section" class="col-xs-12 column">
                <!--open main column-->


                <nav class="navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/">Registrar ingresos</a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li style="cursor: pointer; cursor: hand;"><a data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-user"></span> <%= user.name %></a></li>
                            <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Cerrar sesión</a></li>
                        </ul>
                    </div>
                </nav>


                <div id="example">


                    <div class="row">

                        <div class="col-md-12">
                            <div class="row">
                                <br>
                                <div class="col-md-3">
                                    <table class="table">
                                        <tr>
                                            <td><strong>Cliente:</strong></td>
                                            <td>
                                                <%=data.name%>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong>Fecha:</strong></td>
                                            <td>
                                                <%=data.date%>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong>Referencia:</strong></td>
                                            <td>
                                                <%=data.reference%>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong>Creado por:</strong></td>
                                            <td>
                                                <%=data.user%>
                                            </td>
                                        </tr>

                                    </table>




                                </div>
                                <div class="col-md-3" id="formSave">
                                    <div class="form-group">
                                        <label for="code">Obervación:</label>
                                        <textarea autofocus style="resize: none" class="form-control" name="observation" id="observation" rows="2" placeholder="Ingrese una observación"></textarea><br>
                                        <label for="code">Número de serie:</label>
                                        <input type="text" class="form-control" required id="code2" name="code" style="width: 100%" placeholder="Ingresar número de serie">

                                        <input id="voucher" type="hidden" value="<%=bill%>">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <button id="closeVoucher" class="btn btn-danger">Cerrar salida</button>
                                    <button id="btnPDF" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">PDF</button>
                                </div>




                            </div>


                            <br>

                            <div id="grid2" tabindex="0"></div>


                        </div>
                    </div>

                </div>




                <div id="about" class="main-section-content row">
                    <script type="text/x-kendo-template" id="toolbar-template">
                        <button type="button" class="k-button" id="hola">Print Grid</button>
                    </script>

                    <div class="section-white">
                        <!--  <h3 class="section-title">Featured ASP.NET MVC UI Components</h3> -->
                        <div class="row">


                        </div>
                    </div>
                </div>

                <div class="modal fade" id="myModal2" role="dialog">
                    <div class="modal-dialog modal-lg">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Reporte</h4>
                            </div>
                            <div class="modal-body">
                                <button onclick="print()" class="btn btn-primary">Imprimir</button>
                                <div id="print" style="min-width: 210mm">

                                    <table style="width: 100%">
                                        <tr>
                                            <td></td>
                                            <td>
                                                <center>
                                                    <img class="" src="../image/logo.svg" width="280px" />




                                                </center>
                                            </td>
                                            <td style="text-align: right">
                                                <h5>FOP-
                                                    <%=data.id%>
                                                </h5>
                                            </td>
                                        </tr>
                                    </table>


                                    <hr>
                                    <center><strong style="font-size: 18px">Acta de entrega</strong></center>
                                    <table style="width: 100%">
                                        <tr>
                                            <td>
                                                <h5>Cliente:</h5>
                                                <address>
                                                    <strong><%=data.name%></strong><br>
                                                    <%=data.address%><br>
                                                        <%=data.email%>,<br>
                                                            <%=data.phone%>
                                                </address>
                                            </td>
                                            <td style="text-align: right">

                                                <address>
                                                    <strong>CINETO TELECOMUNICACIONES S.A.</strong><br> LA PINTA 236 y RÁBIDA.
                                                    <br> info@cineto.net
                                                    <br> (593-2) 5100 528
                                                </address>
                                            </td>
                                        </tr>

                                    </table>
                                    <hr>
                                    <table id="Voucher" class="table invoice-table">
                                        <thead>
                                            <tr>
                                                <th>Item</th>
                                                <th>Descripción</th>
                                                <th>Código</th>
                                                <th>Serie</th>
                                                <th>Cant.</th>
                                                <th>Observación</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr w3-repeat="vouchers">
                                                <td>{{num}}</td>
                                                <td>{{description}}</td>
                                                <td>{{code}}</td>
                                                <td>{{barcode}}</td>
                                                <td>{{count}}</td>
                                                <td><input style="border: 0; width: 100%" type="text" value="{{observation}}"></td>
                                            </tr>


                                        </tbody>
                                    </table>
                                    <hr>

                                    <div class="well m-t"><strong>Comentario</strong>
                                        <input class="form-control" type="text">
                                    </div>



                                    <table style="width: 100%; border: 1 ">
                                        <tr>
                                            <td>
                                                <center>
                                                    <p>
                                                        REPRESENTANTE CLIENTE <br><br><br><br><br> _______________________________<br><br>
                                                        <%=data.name%>
                                                    </p>
                                                </center>

                                            </td>
                                            <td>
                                                <center>
                                                    <p>
                                                        REPRESENTANTE CINETO <br><br><br><br><br> _______________________________<br><br>
                                                        <%=data.user%>
                                                    </p>
                                                </center>


                                            </td>
                                        </tr>
                                    </table>









                                </div>
                            </div>
                        </div>
                    </div>
                </div>





</body>

<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script src="../kendo/js/jquery-3.1.1.min.js"></script>
<script src="../kendo/js/kendo.all.min.js"></script>
<script src="../kendo/js/bootstrap.min.js"></script>
<script src="../kendo/js/jszip.min.js"></script>
<script src="../kendo/js/kendo.messages.es-MX.min.js"></script>
<script src="../js/w3.js"></script>
<script src="../js/jquery.PrintArea.js"></script>

<script src="../js/jspdf.min.js"></script>

<script>
    $.get("/voucher/read/<%=bill%>", function (data) {


        w3.displayObject("Voucher", { vouchers: data });

    });

    function print() {
        $('#print').printArea();

    }

</script>






<% if (bill) { %>

    <script>
        var bill = '<%= bill %>';
        var userBill = '<%=data.iduser%>';
        var userSession = '<%=user.id%>';
        var user = '<%=data.user%>';
        var reference = '<%=data.reference%>';
    </script>
    <% } %>

        <% if (data.state == 0) { %>
            <script src="../logic/voucherDetail.js"></script>
            <% } else { %>
                <script src="../logic/voucherDetail2.js"></script>
                <% } %>



</html>